
.addFriendBtn{

    border-radius: 1px;
    background-image: radial-gradient(circle at 50%-46%, #ff9770, #ff7a6e);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    color: white;
    border: none;
    height: 30px;
}

.allBoxes{
    min-height: 100vh;
    width: 750px;
    margin: auto;
    margin-top: 20px;
    

}

.btnBox{
    margin: auto;
}

.editProfBtn{
    margin: 15px 0px 0px 10px;
    width: 155px;
    height: 30px;
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% 0, #ffffff, #f1eceb); border: solid 1px #ccc3c3;
}

.filterSelector{
    display: flex;
    justify-content: center;
    height: 100%;
}

.firstName1{
    margin-bottom: 0px;
    margin-top: 40px;
}

.fullName2{
    margin: 0px 0px 0px 10px;
    margin-top: none;
    width: 80px;
}


.grayBackGround {
    position: fixed;
    min-width: 100%;
    max-height: 100%;
    background-color: rgb(242, 242, 242);
}

.lastName1{
    margin-top: 0px;
}

.nameAndPic{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

p{
    text-align: left;
    margin: 10px 5px 0px 5px;
}

.pageInfoBox{
    border: 2px solid white;
    width: 500px;
    height: 120px;
    background-color: white
}

.recommended{
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0px 5px 0px 5px
}

.recommendedFriBox{
    border: 2px solid white;
    width: 746px;
    height: 65vh;
    margin: auto;
    margin-top: 30px;
    background-color: white;    

}

.recommendedResults{
    /* border: 2px solid black; */
    margin: auto;
    width: 700px;
    padding: 10px;
    max-height: 55vh;
    margin-bottom: 10px;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

.select{
    height: 25px;
    margin: 18px 0px 0px 5px;
}

.truePic{
    position: block;
    width: 100%;
    height: 100%; 
}

.truePic3{
    position: block;
    height: 100%;
    width: 100%;
}

.userCard{
    display: flex;
    justify-content: space-between;
    max-height: 101px;
    width: 330px;
    border: 1px solid white;
    margin-left: 10px;
    margin: 10px 7px 10px 0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
    
}

.userInfoBox{
    border: 2px solid white;
    width: 350px;
    height: 120px;
    background-color: white;
    margin-right: 15px;
    display: flex;
    justify-content: flex-start;
    height: 100%;

}

.userName{
    margin: 5px 0px 5px 10px;
    text-align: left;
}

.userPageInfo{
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.userPic{
    width: 107px;
    height: 107px;
    border: 1px solid black;
    margin: 5px;
    
}

.userPic3{
    width: 100px;
    height: 100px;
    /* border: 1px solid black; */
}
